<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lemall.mall.dao.InventoryMapper">
    <resultMap id="findByIdResult" type="com.example.mall.model.Inventory">
        <id column="inventory_id" property="id"/>
        <result column="stock" property="stock"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="product" javaType="com.lemall.mall.model.Product">
            <id column="product_id" property="id"/>
            <result column="description" property="description"/>
        </association>
    </resultMap>
    <select id="findById" resultMap="findByIdResult">
        select * from tb_inventory where inventory_id = #{id}
    </select>
    <update id="increaseStock">
        update tb_inventory set stock=stock+#{value} where inventory_id=#{id}
    </update>
    <update id="decreaseStockWithoutOverSell" >
        update tb_inventory set stock=stock-#{value} where inventory_id=#{id} and stock-#{value}>=0
    </update>
    <select id="findByIdForUpdate" resultMap="findByIdResult">
        select * from tb_inventory where inventory_id = #{id} for update
    </select>
    <update id="updateStockById">
        update tb_inventory set stock = #{stock} where inventory_id=#{id}
    </update>

</mapper>